/* You don't really have to touch this style.css file. Most of the styling of the canvas is controlled via the sketch.js */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  margin-left: 10px;
  margin-top: 10px;
}

body > div {
  margin-left: 45%;
  padding: 15px;
  padding-top: 20px;
}

a {
  padding: 10px;
  margin-right: 25px;
  border-radius: 15px;
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  user-select: none;
}
a:hover {
  background-color: rgb(63, 116, 216);
}